.sub-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #aaa;
  font-family: "Merriweather", serif;
}

.profile-image {
	width: 175px;
	height: 175px;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,0,0,0.125);
	padding: 0.5rem;
	background: #ffffff;
	margin-bottom: 0.5rem;
}